.main{
    height: 700px;
    width: 100%;
    background-color: chocolate;
    
}

.header{
    height: 150px;
    width: 100%;
    background-color: aqua;
    

}

.Branding{
    height: 150px;
    width: 40%;
    background-color: gray;
    text-align: center;
    float: left;
    
}




.socialmedia{
    height: 100px;
    width: 60%;
    background-color: gray;
    text-align: center;
    float: left;
    
}

.menu{
    height: 50px;
    width: 60%;
    background-color: grey;
    text-align: center;
    float: left;
    

}

.menu ul li{
    float: left;
    color: brown;
    list-style: none;
    display: block;
    height: 30px;
    background-color: red;
    width: 20%;
    margin-left: 20px;
    margin-top: auto;
    
    text-align: center;
    line-height: 30px;
}
.menu ul li:hover{
    background-color: black;
}

.container{
    height: 500px;
    width: 100%;
    background-color: darkorange;
    

}

.imagegallary{
    height: 250px;
    width: 100%;
    background-color: green;
    text-align: center;
    
}
.imagegallary img{
    margin-left: 0%;
    float: left;
}

.course{
    height: 250px;
    width: 100%;
    background-color: dimgray;
    
}

.bootcamp{
    height: 250px;
    width: 25%;
    background-color: darkslategrey;
    text-align: center;
    float: left;
    
}

.cloud{
    height: 250px;
    width: 25%;
    background-color: darkseagreen;
    text-align: center;
    float: left;
    
}

.machinelearning{
    height: 250px;
    width: 25%;
    background-color: deeppink;
    text-align: center;
    float: left;
    
}

.system design and DSA{
    height: 250px;
    width: 25%;
    background-color: aliceblue;
    text-align: center;
    float: left;
    
}


.footer{
    height: 50px;
    width: 100%;
    background-color: darkred;
    text-align: center;
    
}
.footer h{
    line-height: normal;
    margin-top: 5px;
}